body {
    background-color: black;
    display: block;
    width: 100vh;
    height: 100vh;
    overflow: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}
#pickup {
    background-color:#f15656;
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100vw - 208px);
    height: 100vh;
}
#coins {
    background-color:#f7ea77;
    position: absolute;
    top: 0;
    right: 0;
    width: 200px;
    height: calc(100vh / 7);
    border-bottom: 5px solid black;
}
#coinsHead {
    font-size: calc(100vh / 28);
    text-align: center;
    padding: calc(100vh / 112) 0;
    border-bottom: 1px solid black;
}
#coinsValue {
    text-align: right;
    margin: calc(100vh / 56) 2px 0 0;
    font-size: calc(100vh / 28);
}
#gems {
    background-color: #8be2f1;
    position: absolute;
    top: calc(100vh / 7);
    right: 0px;
    width: 200px;
    height: calc(100vh / 7);
    border-bottom: 5px solid black;
}
#gemsHead {
    font-size: calc(100vh / 28);
    text-align: center;
    padding: calc(100vh / 112) 0;
    border-bottom: 1px solid black;
}
#gemsValue {
    text-align: right;
    margin: calc(100vh / 56) 2px 0 0;
    font-size: calc(100vh / 28);
}
#upgradeCoinSpawn {
    position: absolute;
    top: calc(100vh / 7 * 2);
    right: 0;
    width: 200px;
    height: calc(100vh / 7);
    border-bottom: 5px solid black;
}
#upgradeCoinSpawnValue {
    background-color: lightGray;
    color: gray;
    border: calc(100vh / 56) outset white;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: calc(100vh / 25);
}
#upgradeCoinSpawnValue.upgradeReady {
    background-color: green;
    border-color: lightgreen;
    color: white;
}
#upgradeCoinSpawnValue.upgradeReady:active {
    border: calc(100vh / 56) inset lightgreen;
}
#upgradeCoinMultiplier {
    position: absolute;
    top: calc(100vh / 7 * 3);
    right: 0;
    width: 200px;
    height: calc(100vh / 7);
    border-bottom: 5px solid black;
}
#upgradeCoinMultiplierValue {
    background-color: lightGray;
    color: gray;
    border: calc(100vh / 56) outset white;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: calc(100vh / 25);
}
#upgradeCoinMultiplierValue.upgradeReady {
    background-color: green;
    border-color: lightgreen;
    color: white;
}
#upgradeCoinMultiplierValue.upgradeReady:active {
    border: calc(100vh / 56) inset lightgreen;
}
#watchVideoGems {
    background-color: gray;
    position: absolute;
    top: calc(100vh / 7 * 4);
    right: 0;
    width: 200px;
    height: calc(100vh / 7);
    border-bottom: 5px solid black;
}
#dailySpin {
    background-color: whitesmoke;
    position: absolute;
    top: calc(100vh / 7 * 5);
    right: 0;
    width: 200px;
    height: calc(100vh / 7);
    border-bottom: 5px solid black;
}
#help {
    background-color:turquoise;
    position: absolute;
    top: calc(100vh / 7 * 6);
    right: 0;
    width: 200px;
    height: calc(100vh / 7);
}
.coin {
    position: absolute;
    left: 0;
    top: 0;
    background-color:#f0e161;
    /*display: inline-block;*/
    font-size: 26px;
    width: 50px;
    height: 50px;
    padding: 3px;
    border-radius: 40px;
    border: 2px solid black;
    cursor: pointer;
}
.coinInside {
    display: inline-block;
    width: 40px;
    height: 40px;
    padding: 4px 11px;
    border-radius: 40px;
    border: 2px solid black;
}
.gem {
    position: absolute;
    left: 100px;
    top: 100px;
    width: 50px;
    height: 50px;
    background-image: url(gem.svg);
    background-size: cover;
    border-radius: 20px 20px 50px 50px;
}